@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic");
@import "/node_modules/normalize.css/normalize.css";
//@import "/node_modules/flexboxgrid/css/flexboxgrid.min.css";
//@import "/node_modules/purecss/build/pure.css";
@import "/node_modules/chota/dist/chota.css";


// Responsive breakpoints
$size-xs: 480px !default;
$size-sm: 600px !default;
$size-md: 840px !default;
$size-lg: 960px !default;
$size-xl: 1280px !default;
$size-2x: 1440px !default;


header,
footer {
  clear: both;
}

footer {
  background-color: #ffdd7d;
}

.footer-container {
  position: relative;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  padding: 2rem;

}

.footer-container {
  position: relative;
  height: 100%;
}


html,
body {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

/* body container START */
.body-container {
  min-width: 100%;
  min-height: 100%;
}

.body-container .left-content {
  background-color: rgb(196, 59, 59);
  color: white;
  z-index: 90;

  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.body-container .right-content {
  overflow: hidden;
  min-height: 100vh;
  height: 100%;
}

.content-section {
  padding: 2rem;
}

/* body container END */
.navigation-base {
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  float: left;
}

.navigation-content a {
  color: white;
}

.navigation-content img {
  padding: 3rem 0px;
  width: 60%;
  max-width: 300px;
}

.nav-main-title {
  font-size: 2rem;
  margin: 24px 0px;
}

.nav-items {
  list-style: none;
  margin: 24px 0px;
  padding: 0;

  li {
    font-size: 3rem;
  }
}

/* Menu Icon START */
.mi-container {
  position: fixed;
  display: inline-block;
  cursor: pointer;
  top: 15px;
  right: 15px;
  z-index: 100;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: rgb(0, 0, 0);
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.cards-row {

  margin: 10rem 0;
  text-align: center;

  p {
    font-size: 2.5rem;
    font-style: italic;
    padding: 2rem;
    font-weight: bold;
  }

  img {
    margin: auto;
    max-width: 40rem;
  }
}

/* Menu Icon END */

@media (max-width: $size-md) {
  .body-container .left-content {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    float: left;
  }

  .body-container .right-content {
    margin-left: 0px;
  }

  .mi-container {
    position: fixed;
    display: inline-block;
    cursor: pointer;
    top: 15px;
    right: 15px;
  }
}

@media (min-width: $size-md) {
  .body-container .left-content {
    display: block !important;
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    width: 320px;
    height: 100%;
    float: left;
  }

  .body-container .right-content {
    margin-left: 320px;
  }

  .mi-container {
    display: none;
  }
}