@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import "/node_modules/normalize.css/normalize.css";
@import "/node_modules/chota/dist/chota.css";

:root {
  --bg-color: #ffffff;
  --bg-secondary-color: #f3f3f6;
  --color-primary: #14854F;
  --color-lightGrey: #d2d6dd;
  --color-grey: #747681;
  --color-darkGrey: #3f4144;
  --color-error: #d43939;
  --color-success: #28bd14;
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 2.4rem;
  --font-color: #333333;
  --font-family-sans: 'Spectral', serif;
  --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}

// Responsive breakpoints
$size-xs: 480px !default;
$size-sm: 600px !default;
$size-md: 840px !default;
$size-lg: 960px !default;
$size-xl: 1280px !default;
$size-2x: 1440px !default;

html,
body {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  background: floralwhite;
}

header {
  height: 18rem;
  position: fixed;
  top: 0;
  left: 0;
}

header,
footer {
  clear: both;
  width: 100%;
  background-color: #ec4141;
}

h1,
h2,
h3,
h4,
h5,
h6 {

}

p {

}

.nav {
  display: block;
  text-align: center;
  position: relative;
  color: white;
  z-index: 90;

  .wrapper {
    display: inline-block;
    padding-top: 6rem;
    padding-bottom: 4rem;
  }

  a {
    float: left;
    display: inline-block;
    color: white;
  }

  img {
    height: 3.5rem;
    max-height: 3.5rem;
  }
}

/* Menu Icon START */
.mi-container {
  position: fixed;
  display: inline-block;
  cursor: pointer;
  top: 15px;
  right: 15px;
  z-index: 100;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.footer-container {
  position: relative;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  padding: 2rem;
  color: white;
}


.title {
  font-weight: 500;
}

.subtitle {
  font-weight: 300;
}

.section {
  padding: 8rem 1.2rem;

  p {
    text-align: justify;
  }
}

/* body container START */
.body-container {
  min-width: 100%;
  min-height: 100%;
}

.content-section {
  padding: 2rem;
}

.cards-row {
  text-align: center;

  p {
    font-size: 2.7rem;
    font-style: italic;
    padding: 2rem;
    font-weight: bold;
  }

  img {
    margin: auto;
    max-width: 40rem;
    width:100%;
  }
}

/* The hero image */
.hero {
  /* Set a specific height */
  height: 56rem;

  /* Position and center the image to scale nicely on all screens */
  background-color: #ff5353;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* Menu Icon END */

@media (max-width: $size-md) {
  .first-section {
    padding-top: 4rem;
  }

  header {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #ec4141;

    .nav .wrapper {
      text-align: center;

      a {
        display: block;
        float: none;
      }
    }
  }

  .mi-container {
    position: fixed;
    display: inline-block;
    cursor: pointer;
    top: 15px;
    right: 15px;
  }
}

@media (min-width: $size-md) {
  .first-section {
    padding-top: 24rem;
  }

  header {
    display: block !important;
  }

  .mi-container {
    display: none;
  }
}