<footer class="main-footer">
    <div class="footer-container container">
        <p>We aim to help others spot and avoid poor workmanship by reviewing <b>Lancashire Roofing Limited</b> along with <b>Lee Schofield</b> and <b>Will Smith.</b></p>
        <p>© Copyright 2023 Dev Miduz. All Rights Reserved.</p>
        <p>Fair use under the Copyright Act applies to this website. See <a href="legal.ejs">Legal Terms</a> for more information.</p>
    </div>
</footer>