<header class="main-header">
	<nav class="nav">
		<div class="wrapper">
			<a href="/"><img class="logo" src="assets/images/bad_roofers_inc_logo.png"></a>
			<a href="/" class="<%- global.page == "home" ? "active" : "" %>">Home</a>
			<a href="gallery.ejs" class="<%- global.page == "gallery" ? "active" : "" %>">Gallery</a>
			<a href="about.ejs" class="<%- global.page == "about" ? "active" : "" %>">About</a>
            <img class="caution-image" src="assets/images/bad-roofers-at-work.png">
		</div>
	</nav>
</header>
<div class="mi-container" onclick="showOrHideMenu(this)">
	<div class="bar1"></div>
	<div class="bar2"></div>
	<div class="bar3"></div>
</div>