<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Bad Roofers Inc. is a website dedicated to exposing the bad workmanship of Lancashire Roofing Limited. featuring Lee Schofield and Will Smith."/>
    <meta name="keywords" content="Lee Schofield, Schofield, Will, Will Smith, Lancashire Roofing, Lancashire Roofing Limited, Lancashire Roofing ltd., Lancashire Roofer, Euxton, Leyland, Lancashire, Roofer, Review, Bad Roofer, Roofing, Roofer, Euxton Roofer, Leyland Roofer, Buckshaw Roofer, Simon, Jasmine, Glamping, Camping, Damage, Preston, Con, Rip-off, Scam, Roofer Review, Lancashire Roofing Limited Review, Lancashire Roofing ltd. Review, Lee Schofield Roofer Review, Lee Schofield Roofer, Will Smith Roofer, Kate, Sam, Worst Roofer, Incompetent, Untrustworthy, Dishonest, Court, Connell, Bay Horse, Euxton Mills, UCLAN, Paul, David, George, Wigan, Tiles, Marley, Marley Tiles, Bad"/>
    <meta name="robots" content="index,follow" />
    <meta name="DC.title" content="<%- title %>" />
    <title><%- title %></title>

    <link rel="stylesheet" href="assets/css/style.scss">
    
</head>