<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bad Roofers Inc. is a website dedicated to exposing the bad workmanship of Lancashire Roofing Limited. featuring Lee Schofield and Will Smith.">
    <title><%- title %></title>

    <link rel="stylesheet" href="assets/css/style.scss">
    
</head>