<header>
	<nav class="nav">
        <div class="wrapper">
            <a href="#"><img class="logo" src="assets/images/placeholder.com-logo1.png"></a>
            <a href="/">Home</a>
            <a href="articles.ejs">Articles</a>
            <a href="gallery.ejs">Gallery</a>
            <a href="about.ejs">About</a>
            <a href="contact.ejs">Contact</a>
        </div>
	</nav>
</header>