
<nav class="navigation-base">
    <div class="navigation-content">

        <img class="logo" src="assets/images/placeholder.com-logo1.png">

        <ul class="nav-items">
            <li><a href="/">Home</a></li>
            <li><a href="articles.ejs">Articles</a></li>
            <li><a href="gallery.ejs">Gallery</a></li>
            <li><a href="about.ejs">About</a></li>
            <li><a href="contact.ejs">Contact</a></li>
        </ul>


        <img src="assets/images/bad-roofers-at-work.png">
    </div>
</nav>