<% page="about" %>

  <!doctype html>
  <html lang="en"> <%- include('partials/head.ejs', { title: "Bad Roofers Inc - About" }) %>

      <body>
        <%- include('partials/header.ejs') %>
          <div class="container">

            <section class="section first-section">
              <h1 class="title">About Us</h1>
                <p>
                  Bad Roofers Inc. was setup out of frustration with the poor service provided by Lancashire Roofing Limited, Lee Schofield, and Will Smith.
                  The website can be thought of as a Lancashire Roofing Limited review, along with a review of Lee Schofield as a roofer and Will Smith as a labourer.
                  
                  Credit where credit is due, never did we feel like Lee Schofield and Will Smith were untrustworthy enough to steal or do
                  anything malicious when left alone on our property. In a nutshell the pair are two people to have a good chat and a
                  laugh with but are pretty substandard roofers. They would probably be best hired to work on existing work where anything
                  considered complex is left to another roofer, by complex I mean abiding by any regulations required to pass a roofing
                  inspection. The kind of thing required when you are thinking about selling your house or obeying the law.
                  Lee confidently describes himself as the number 1 roofer in the north-west, we feel the description of the best, worst roofer, in the north-west is more appropriate.
                </p>
            </section>

            <section class="section about-image-section">
              <img src="assets/images/lee_schofield_profile_corrected.jpg" alt="Lee Schofield - The best, worst roofer, in the northwest #fact" />
            </section>

            <section class="section">
              <p>
                It would appear that Lee has either made the Lancashire Roofing Ltd facebook page either private or deleted it since we begun legal action.
              </p>
          </section>

          </div> <%- include('partials/footer.ejs') %> <%- include('partials/scripts.ejs') %>
      </body>

  </html>