<% page="about" %>

  <!doctype html>
  <html lang="en"> <%- include('partials/head.ejs', { title: "Bad Roofers Inc - About" }) %>

      <body>
        <%- include('partials/header.ejs') %>
          <div class="container">

            <section class="section first-section">
              <h1 class="title">About Us</h1>
                <p>
                  Bad Roofers Inc. was setup out of frustration with the poor service provided by Lancashire Roofing Limited, Lee Schofield, and Will Smith.
                  The website can be thought of as a Lancashire Roofing Limited review, along with a review of Lee Schofield as a roofer and Will Smith as a labourer.
                  
                  Credit where credit is due, never did we feel like Lee Schofield and Will Smith were untrustworthy enough to steal or do
                  anything malicious when left alone on our property. In a nutshell the pair are two people to have a good chat and a
                  laugh with but are pretty substandard roofers. They would probably be best hired to work on existing work where anything
                  considered complex is left to another roofer, by complex I mean abiding by any regulations required to pass a roofing
                  inspection. The kind of thing required when you are thinking about selling your house or obeying the law.
                  Lee confidently describes himself as the number 1 roofer in the north-west, we feel the description of the best, worst roofer, in the north-west is more appropriate.
                </p>
            </section>

            <section class="section image-section">
              <img src="assets/images/lee_schofield_profile_corrected.jpg" alt="Lee Schofield - The best, worst roofer, in the northwest #fact" />
            </section>

            <section class="section">
            <h2>Damaged Trust</h2>
            <p>
              Many times, when they actually turned up for the job, we treated them to bacon and sausage sandwiches, biscuits,
              cakes, cans of pop, tea, and coffee.
              We also helped to repair their tools, when they suffered a puncture we helped source and fit tyres, and provided
              them with free fuel for their grinder.
              A main reason for this website is because we feel our generosity was thrown back in our faces and it's severely
              damaged our trust in tradesmen.
              People like this give the industry and it's tradesmen a bad name.
              It would appear that Lee has either made the Lancashire Roofing Limited facebook page private or deleted it.
              Lucky for us all, I did take a pre-emptive backup of the Lancashire Roofing Limited facebook page, thus have all
              the content available.
              We want there to be a public record of their roofing service and workmanship.
              They have consistently avoided handling any issues which have arose and given nothing but excuses.
            </p>
            </section>


          <section class="section image-section">
            <img src="assets/images/lancashire_roofing_limited_not_found.jpg"
              alt="Lancashire Roofing Limited Facebook is Not Found." />
          </section>

          <br/>

          </div> <%- include('partials/footer.ejs') %> <%- include('partials/scripts.ejs') %>
      </body>

  </html>