<!doctype html>
<html lang="en">
  <%- include('partials/head.ejs', { title: "Bad Roofers Inc - Terms and Conditions" }) %>

    <body>
      <%- include('partials/header.ejs') %>
        <div class="container">

          <section class="section first-section terms-and-conditions-section">
            <h1 class="title">Terms and Conditions</h1>
            <ul>
              <li>The information on this website is not legal advice and thus should not be treated as such.</li>
              <li>We are not responsible for any outcomes or damages from the use of anything on this website.</li>
              <li>Media such as Photographs and Videos on the website can be used for personal and commercial use - with the exception that they may not be used for false representation of another person work.</li>
              <li>All work discussed and media is based upon the workmanship from Lancashire Roofing Limited and thus the directors - Lee Schofield and Will Smith.</li>
              <li>Media such as Logos and Artistic works cannot be used for personal or commercial use without gaining permission to do so first.</li>
              <li>Any existing licenses on assets still apply solely to those assets and using them must abide by the existing license to do so.</li>
              <li>This website is a review of the service and workmanship of Lancashire Roofing Limited and the Roofers Lee Schofield and Will Smith.</li>
              <li>As this website is a review then all content and media is subject to Fair Dealing under the UK Copyright Act.</li>
              <li>Fair Dealing under the Copyright Act allows for:</li>
              <ul>
                <li>criticism and review.</li>
                <li>satire or parody.</li>
                <li>news.</li>
                <li>legal advice.</li>
                <li>research and study.</li>
              </ul>
            <li>You are free to use content and media if it falls under the purposes outlined under the Fair Dealing section of the
              Copyright Act.</li>
            <li>You can always use content and media for educational purposes.</li>
            </ul>

            <img src="assets/images/bad-roofers-at-work.png" />
          </section>

        </div>
    </body>

    <%- include('partials/footer.ejs') %> <%- include('partials/scripts.ejs') %>

</html>